@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: url("https://img.freepik.com/free-vector/green-garden-frame-background-with-copyspace_1308-28021.jpg?semt=ais_hybrid&w=740&q=80");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#main_title {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.column {
  height: 100vh;
  width: 25%;
  position: relative;
}

a {
  text-align: center;
  padding: 1rem;
  border: none;
  font-size: 1rem;
  width: 50%;
  border-radius: 5px;
  transition: all 0.5s ease;
  display: inline-block;
  /* Added to make width apply correctly */
  text-decoration: none;
  /* Inherit or reset */
  color: inherit;
}

a:hover,
a:focus {
  cursor: url('/cursors.cur'), auto;
  background-image: "https://www.lovethispic.com/uploaded_images/43771-Blossom-Gif.gif?1";
}

@media screen and (min-width: 780px) {
  .full-width-img {
    margin: auto;
    width: 90%;
  }
}